:root {
    --clr-background1: #ABABAB;
    --clr-background2: #DDD;
    --clr-text: #212121;
}

body {
    height: 100vh;
    background-color: var(--clr-background1);
}

#output {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    height: 10vh;
    width: 50vh;
    top: 10vh;
    left: 75vh;
    background-color: var(--clr-background2);
}